.home-header-container {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 100;
    height          : 60px;
    width           : 100%;
    padding         : 5px 40px;
    background-color: #fff;

    .home-header-content {
        height : 100%;
        width  : 100%;
        display: flex;

        .left-content {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 25%;

            i {
                font-size   : 25px;
                color       : #999;
                cursor      : pointer;
                margin-right: 10px;
            }

            .header-logo {
                background: url(../../assets/logo.svg) center no-repeat;
                height    : 100%;
                width     : 50%;
                cursor    : pointer;
            }
        }

        .center-content {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            width          : 50%;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }

        }

        .right-content {
            display        : flex;
            justify-content: flex-end;
            align-items    : center;
            width          : 25%;
            cursor         : pointer;

            .support {
                padding-right: 50px;
                display      : flex;
                align-items  : center;

                i {
                    font-size   : 15px;
                    margin-right: 5px;
                    color       : #666;
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.4;

                &.active {
                    opacity: 1;
                    color  : orange;
                }

                &:hover {
                    opacity: 1;
                }

            }

            .language-en {
                cursor : pointer;
                margin : 0 10px;
                opacity: 0.4;

                &.active {
                    opacity: 1;
                    color  : blue;
                }

                &:hover {
                    opacity: 1;
                }
            }

        }
    }
}

.home-header-banner {
    display        : flex;
    flex-direction : column;
    background     : url(../../assets/header-background.jpg) center no-repeat;
    background-size: cover;
    width          : 100%;
    height         : 485px;
    margin-top     : 60px;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        height          : 65%;
        padding-top     : 10px;

        .banner-title-1 {
            font-size  : 32px;
            text-align : center;
            text-shadow: 1px 1px 1px #333;
            color      : #fff;
            margin     : 30px 0 5px;
        }

        .banner-title-2 {
            font-size    : 32px;
            text-align   : center;
            text-shadow  : 1px 1px 1px #333;
            color        : #fff;
            margin-bottom: 20px;
        }

        .search {
            display         : flex;
            align-items     : center;
            justify-content : center;
            margin          : 0 auto;
            padding         : 10px;
            border-radius   : 25px;
            background-color: #f7d800;
            width           : fit-content;

            i {
                margin: 0 5px;
            }

            input {
                height          : 30px;
                width           : 360px;
                background-color: transparent;
                border          : none;
                outline         : none;

            }
        }
    }

    .content-down {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        height          : 35%;
        display         : flex;
        justify-content : center;
        align-items     : flex-end;
        padding-bottom  : 10px;

        .options {
            display        : flex;
            text-align     : center;
            gap            : 50px;
            justify-content: center;

            .options-child {
                width: 120px;

                .options-child-icon {
                    padding        : 10px;
                    border-radius  : 50%;
                    border         : 1px solid #fff;
                    width          : 50px;
                    height         : 50px;
                    margin         : 0 auto;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    box-shadow     : inset 0 0 5px rgba(0, 0, 0, 0.15);
                    cursor         : pointer;

                    i {
                        background-color: #fff;
                        font-size       : 24px;
                        color           : #49bce2;
                    }
                }

                .options-child-title {
                    text-align : center;
                    font-weight: 600;
                    font-size  : 16px;
                    cursor     : pointer;
                    color      : #333;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}

// // Tablet and Mobile
// @media (max-width: 1024px) {
//     .home-header-container {
//         padding: 5px 0;

//         .home-header-content {

//             .left-content {
//                 justify-content: flex-start;
//                 margin-left    : 10px;
//             }

//             .center-content {
//                 width: 65%;
//             }

//             .right-content {
//                 width      : 16%;
//                 margin-left: 70px;

//                 .support {
//                     padding-right: 20px;
//                 }
//             }
//         }
//     }
// }

// // Tablet Mode